@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-contain bg-no-repeat bg-space-cadet  h-auto;
}
p {
  @apply text-white;
}

#root {
  @apply max-w-[500px] m-auto min-h-screen flex flex-col justify-between items-center;
}

input [type="text"] {
  @apply bg-transparent border-b-2 border-white text-white ring-0 ring-offset-0 focus-visible:ring-0 focus-visible:ring-offset-0 focus:ring-0 focus:ring-offset-0 outline-none;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
input[type="text"]:focus-visible {
  outline: none;
  box-shadow: none;
  border: none;
}
